@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Quicksand&display=swap');

header {
  display: flex;
  align-items: center;

}

.main {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 4em; /* larger margin allows for footer */
}

.banner {
  margin: auto;
  border-top: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  background-color: #808080ff;
  border-bottom: 2px solid black !important;
}

nav{
  background-color: #808080ff;
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  align-items: center; /* Align child flexible boxes in the vertical center */
  display: flex; /* Display the children of this element as flexible boxes */
  width: 100%;
  max-width: 900px;
  margin: auto;
}
nav p{
  text-align: center;
  flex-basis: 100px; /* give each paragraph the same width */
  flex-grow: 1; /* allow each paragraph to grow evenly to fill up the parent nav element */
}
nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
  nav a:hover {
    color: black;
}

.text {
  background-color: #4a86e8ff;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  display: flex;
  width: 100%;
  max-width: 900px;
  margin: auto;
}